<footer class="footer has-text-weight-light">
  <div class="container">
    <div class="content has-text-centered">
      <p class="is-size-6">
        {% if site.data.contacts.email-key %}
        <a class="has-secret-mailto" target="_blank">
          <span class="icon is-medium">
            <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
          </span>
        </a>
        {% endif %}
        {% if site.opengraph.fb-user %}
        <a target="_blank" href="https://facebook.com/{{ site.opengraph.fb-user }}">
          <span class="icon is-medium">
            <span class="fa-stack">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
            </span>
          </span>
        </a>
        {% endif %}
        <br>
        {% if site.data.contacts.phone %}
        {{ site.data.contacts.phone }}
        {% endif %}
      </p>
      <p itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="name" class="has-text-weight-normal">{{ site.title }}</span>
        <span itemprop="streetAddress">{{ site.data.contacts.address.street }}</span>
        <span itemprop="addressLocality">{{ site.data.contacts.address.city }}</span>,
        <span itemprop="addressRegion">{{ site.data.contacts.address.state }}</span>
        <span itemprop="postalCode">{{ site.data.contacts.address.zip }}</span>
        <span itemprop="addressCountry">{{ site.data.contacts.address.country }}</span>
      </p>
      <p class="is-size-4"><span class="has-text-weight-normal">&copy; {{ site.title }}</span></p>
      <p class="is-size-7"><a href="https://github.com/{{ site.github }}" class="button is-small"><span>view source</span><span class="icon"><i class="fab fa-github"></i></span></a></p>
    </div>
  </div>
</footer>
