{% include _meta-og-website.html type="business.business" %}
{% for hour in site.data.commitments.og-hours %}
<meta property="business:hours:day" content="{{ hour.day }}" />
<meta property="business:hours:start" content="{{ hour.begin }}" />
<meta property="business:hours:end" content="{{ hour.end }}" />
{% endfor %}
<meta property="business:contact_data:street_address" content="{{ site.data.contacts.address.street }}" />
<meta property="business:contact_data:locality" content="{{ site.data.contacts.address.city }}" />
<meta property="business:contact_data:region" content="{{ site.data.contacts.address.state }}" />
<meta property="business:contact_data:postal_code" content="{{ site.data.contacts.address.zip }}" />
<meta property="business:contact_data:country_name" content="{{ site.data.contacts.address.country }}" />
<meta property="business:contact_data:phone_number" content="{{ site.data.contacts.phone }}" />
<meta property="business:contact_data:website" content="{{ site.url }}" />
