<a id="gallery"></a>
<section class="section section-gallery">
  <div class="container has-text-centered">
    <div class="columns is-multiline">
      {% for image in site.data.gallery %}
      <div class="column is-3">
          <figure class="image is-4by3-desktop">
          {% capture thumbnail %}{% if image.thumb %}{{ image.thumb}}{% else %}{{ image.url }}{% endif %}{% endcapture %}
          <img src="{{ thumbnail }}" class="lightbox-image" alt="{{ image.name }}" data-target="{{ image.name }}">
          </figure>
      </div>
      <div class="modal" id="{{ image.name }}">
        <div class="modal-background"></div>
        <div class="modal-content">
          <p class="image is-4by3">
            <img src="{{image.url}}" alt="{{ image.name }}">
          </p>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
