<section class="section section-hero">
  <div class="sunglasses">
    <div class="container">
      <div class="columns is-gapless">
        <div class="column column-display">
          <div>
            <h2 class="title is-3 has-text-centered-touch">{{ site.data.services.industry }}</h2>
            <p class="subtitle is-4 has-text-centered-touch">{{ site.description }}</p>
          </div>
        </div>
        <div class="column is-narrow is-4 column-form">
          {% include form-contact.html %}
        </div> <!-- /columns -->
      </div> <!-- /column -->
    </div> <!-- /container -->
</div>
</section>
