---
layout: compress
---
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
    {% include _title.html %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="contact" data-encoded="{{site.data.contacts.email-encoded}}" data-key="{{site.data.contacts.email-key}}">
    <script type="application/ld+json">
    {% if site.data.services.industry and site.data.services.area-served.caption %}
    {% include _meta-ld-Service.html %}
    {% else %}
    {% include _meta-ld-LocalBusiness.html %}
    {% endif %}
    </script>
    {% include _meta-og-business.html %}
    {% asset style.css %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% if site.analytics-id %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics-id }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.analytics-id }}');
      </script>
    {% endif %}
  </head>
  <body>
    {% include _nav.html %}
    {{ content }}
    {% asset main.js %}
    {% include _footer.html %}
  </body>
</html>
